.message {
    margin: auto 70px;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

}

.imageAndText img {
    width: 48px;
}

.text {

}

.text:after {

}

.name {
    text-align: right;
}

.messageText {

}

.time {
    text-align: right;
}