.buttonsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
}

.responseContainer {
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}